body {

	background-color:#DB7093;
}


.navegacao {
	text-align: center;
	font-size: 30px;
	display: flex;
	flex-direction: row-reverse;
	padding: 40px;

}
.itens li{
	padding: 10px 20px;
	display: block;

}
.itens a {
	text-decoration: none;
	display: inline-block;
	text-align: center;
	padding: 15px 25px;
	color: black;
	font-size: 30px;
}

.texto-principal {
	text-align: center;
	font-size: 50px;
	margin: 0 auto;
}
.principal 	{
	text-align: center;
	padding: 25px;
	margin: 10px; 
	background-color: white;
	
}

.principal p {
	font-size: 20px;
}

.benefícios {
	text-align: center;
	padding: 10px;
	margin: 10px ;
	background-color: white;
}

.itens li {
	margin: 35px;
	text-align: left;
	font-size: 20px;

}	
.itens {
	display: inline-block;
	vertical-align: top;
	padding: 10px;
	margin: 0 auto;

}

.imagem-copo {
	display: inline-flex;
	width: 10%;

}
.mapa h3 {
	text-align: center;
	padding: 10px;
	margin: 0 auto;
	background-color: white;
	font-size: 50px;

}



